:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: dark light;

  --blue-500: #0066ff;
  --blue-600: #0052cc;
  --white: #ffffff;
  --gray-000: #f3f3f3;
  --gray-100: #dadada;
  --gray-200: #b6b6b6;
  --gray-300: #949494;
  --gray-400: #737373;
  --gray-500: #545454;
  --gray-600: #363636;
  --gray-700: #1b1b1b;
  --gray-800: #050505;
  --gray-900: #000000;

  --clr-background: var(--white);
  --clr-surface: var(--gray-100);
  --clr-text-primary: var(--gray-900);
  --clr-shadow: var(--gray-000);
}

a {
  text-decoration: none;
}
